@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.6 !important; /* Transparansi */
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 22px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

.clip-path-notch {
  clip-path: inset(0 0 0 0 round 1%);
}

.custom-toast {
  background-color: white !important; /* Warna background oranye */
  color: #0e0d0d !important; /* Warna teks putih */
  font-weight: light;
}

/* Custom progress bar styling */
.custom-progress-bar {
  background: #ffffff !important;
  color: white !important;
  --toastify-color-progress-bgo: 0;
  /* Warna progress bar oranye terang */
}

/* globals.css */
.react-datepicker {
  background-color: white !important;
  color: #374151 !important; /* Warna teks abu-abu untuk light mode */
}

/* Centering the loader on the screen */
.loaderx-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Optional overlay background */
  z-index: 9999; /* Ensure it appears on top */
}

/* Your loaderx animation */
.loaderx {
  width: 50px;
  height: 50px;
  position: relative;
}
.loaderx::before,
.loaderx::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0),
    radial-gradient(circle 10px, #ed0d0d 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loaderx::after {
  font-size: 1px;
  background: #ed0d0d;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}
